#blog {
    @include section-margin;

    .blogs {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;
        gap: 50px;

        .blog__title {
            grid-area: 1 / 1 / span 1 / span 3;
            text-align: $text-align-center;

            h2 {
                @include text-h2;
            }

            .line {
                @include line;
            }
        }

        .blog__item {
            border-radius: 20px;
            box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
            z-index: 2;

            .blog__item--photo {
                img {
                    border-radius: 20px;
                    width: 100%;
                }
            }

            .blog__item--text {
                padding: 34px;

                h4 {
                    @include text-h4
                }

                p {
                    @include text-p;
                    margin: 18px 0px;
                }

                span {
                    line-height: 28px;
                    font-size: 17px;
                    color: rgba(64, 137, 237, 1);
                }
            }
        }

        .blog__button {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            display: $flex;
            justify-content: $justify-content-center;

            button {
                @include button;
            }
        }
    }
}