#header {
    margin: 0 0 80px 0;

    .header__content {
        display: grid;
        grid-template-columns: 2fr 3fr;
        align-items: $align-items-center;

        .header__content--text {
            width: 82%;

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 21px;
                line-height: 36px;
                color: $gray;
                margin: 25px 0px;
            }

            button {
                @include button;
                border: none;
                background: $blue;
                color: $white;

                &:hover {
                    background: $white;
                    color: $blue;
                    border: 1px solid $blue;
                }
            }
        }

        .header__content--photo {
            img {
                width: 100%;
            }
        }
    }
}