%message{
    border: 1px solid #21b179;
    padding: 10px;
    width: 40%;
    color: #21b179;
    margin: 20px
  }
  
  .error{
    @extend %message;
    border-color: red;
    color: red; 
  }
  
  .success{
    @extend %message;
    border-color: green;
    color: green;
  }
  
  .warning{
    @extend %message;
    border-color: orange;
    color: orange;
  }
  
  .info{
    @extend %message
  }