#footer {
    margin: 80px 0 0 0;

    background: rgb(90, 152, 242);
    background: linear-gradient(47deg, rgba(90, 152, 242, 1) 18%, rgba(90, 152, 242, 1) 53%, rgba(0, 212, 255, 1) 100%);

    .footer {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        padding: 70px 0;
        color: white;

        .footer__item {
            .logo {
                display: flex;
                align-items: center;

                .logo__icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    border-radius: 50%;
                    color: #458FF6;
                    width: 41px;
                    height: 41px;
                    font-size: 26px;
                }

                .logo__text {
                    font-size: 24px;
                    color: white;
                    font-weight: 700;
                    margin-left: 12px;
                }
            }

            span {
                font-size: 22px;
                line-height: 60px;
            }

            p,
            li {
                font-size: 17px;
                line-height: 41px;
            }
        }
    }
}