#navbar {
    padding: 40px 0;

    .logo {
        display: flex;
        align-items: center;

        .logo__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #458FF6;
            border-radius: 50%;
            color: white;
            width: 41px;
            height: 41px;
            font-size: 26px;
        }

        .logo__text {
            font-size: 24px;
            color: #233348;
            font-weight: 700;
            margin-left: 12px;
        }
    }

    .menu {
        ul {
            display: flex;
            justify-content: space-around;
            color: #1F1534;
            font-size: 18px;
            opacity: 0.5;
            font-weight: 400;
        }

    }

    .navbar__icon {
        display: none;
        float: right;
            font-size: 33px;
    }
}