* {
    padding: 0;
    margin: 0;
}

body {
    background: #c67c53a8;
    font-family: 'Architects Daughter';
    font-size: 24px;
}

.container {
    width: 95%;
    margin: auto;
}


.navbar {
    padding: 36px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-text {
    font-size: 50px;
    font-weight: 900;

}

.navbar-text span {
    color: white;
}

.fas {
    color: #c2ff3d;
}


.navbar-button button {
    border: none;
    padding: 10px 24px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 9px;
    font-family: 'Architects Daughter';
    cursor: pointer;
}

.navbar-button button:hover {
    background: #C4A080;
    border: 1px solid gray;
    color: white;
}


.main {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}



.form {
    display: none;
    position: absolute;
    top: 26%;
    left: 40%;
}

textarea {
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.75);
    outline: none;
    border: none;
    width: 275px;
    height: 275px;
    font-family: 'Architects Daughter';
    padding: 40px 25px 25px 25px;
    font-size: 25px;
}

i {
    color: gray;
}

#check-icon {
    position: absolute;
    right: 17%;
    top: 4%;
}

#x-icon {
    position: absolute;
    right: 5%;
    top: 4%;
}