.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.text-align-center {
    text-align: center;
}

.flex-direction-column {
    flex-direction: column;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

/* Text */

.first-text{
    font-size: 36px;
    line-height: 56px;
    color: black;
}

.second-text {
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
    margin: 25px 0px;
}

.third-text{
    font-size: 24px;
    line-height: 56px;
    color: black;
}

.fifth-text{
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    font-weight: 300;
}

/* Button */

.btn{
    border: 1px solid #458FF6;
    background: white;
    border-radius: 32px;
    width: 200px;
    height: 56px;
    color: #458FF6;
    font-size: 18px;
    letter-spacing: 1px;;
}
